@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::placeholder {
  font-family: "DM Sans", sans-serif;
}

$mainTheme: #2f1893;
$secTheme: #482be7;
$mainGreenTheme: #25dac5;
$mainThemeWhite: #fff;
$mainThemeWhiteFaded: #ffffff6e;

$logoFS: 24px;
$navFS: 18px;
$heading1: 60px;
$para: 20px;
$footerNote: 13px;

body {
  font-family: "DM Sans", sans-serif;
  background-color: $mainTheme;
  color: $mainThemeWhite;
  padding: 2.5rem 5rem;

  @media (max-width: 700px) {
    & {
      padding: 2rem 1.5rem;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: $logoFS;
      font-weight: 800;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      li {
        font-size: $navFS;

        &:nth-child(1),
        &:nth-child(2) {
          display: none;
        }

        button {
          padding: 7px 14px;
          border-radius: 80px;
          border: none;
          font-size: 16px;
          font-family: inherit;
          color: $mainThemeWhite;
          background: $secTheme;
        }
      }
    }
  }

  main {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 700px) {
      & {
        margin-top: 5rem;
      }
    }
    h1 {
      font-size: $heading1;
      text-align: center;
      margin: auto;
      width: 45%;
      line-height: 1.2;
      @media (max-width: 700px) {
        & {
          width: 100%;
        }
      }
    }

    p {
      font-size: $para;
      width: 48%;
      margin: auto;
      margin-top: 2rem;
      text-align: center;
      @media (max-width: 700px) {
        & {
          width: 100%;
        }
      }
    }

    .input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      @media (max-width: 700px) {
        & {
          flex-direction: column;
          width: 100%;
        }
      }
      margin: auto;
      margin-top: 3rem;
      gap: 1rem;

      input {
        width: 80%;
        padding: 13px 14px;
        border-radius: 80px;
        border: none;
        @media (max-width: 700px) {
          & {
            width: 100%;
          }
        }
      }

      button {
        width: 20%;
        @media (max-width: 700px) {
          & {
            width: 90%;
          }
        }
        padding: 10px 14px;
        border-radius: 80px;
        border: none;
        font-size: inherit;
        font-family: inherit;
        background: $mainGreenTheme;
        color: $mainThemeWhite;
      }
    }

    span {
      color: $mainThemeWhiteFaded;
      margin-top: 1.5rem;
      font-size: $footerNote;
      text-align: center;
    }
  }
}
