@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 3rem 6rem;

  @media (max-width: 700px) {
    & {
      padding: 3rem 1.5rem;
    }
  }

  h1 {
    color: #105610;
    margin-bottom: 10px;
    font-size: 40px;
    @media (max-width: 700px) {
      & {
        margin-bottom: 2rem;
      }
    }
  }

  h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  p {
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 50px;

    @media (max-width: 700px) {
      & {
        margin-bottom: 10px;
      }
    }
  }

  div {
    #validationText {
      padding: 0;
      margin: 0;
    }
    form {
      width: 60%;
      margin: auto;
      display: flex;
      padding: 15px;
      gap: 20px;
      @media (max-width: 700px) {
        & {
          flex-direction: column;
          width: 100%;
        }
      }

      @media (max-width: 1024px) {
        flex-direction: row;
        width: 100%;
      }

      input {
        flex-basis: 70%;
        padding: 15px 10px;
        outline: none;
        border: 1px solid green;
        font-size: 18px;
      }

      button {
        flex-basis: 30%;
        padding: 15px 10px;
        background-color: green;
        border: none;
        outline: none;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          filter: drop-shadow(0 0 0.15rem #808080);
        }
      }
    }
  }

  #numbersContainer {
    margin: auto;
    margin-top: 25px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    @media (max-width: 700px) {
      & {
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
      }
    }
    @media (max-width: 1024px) {
      flex-direction: row;
      width: 100%;
    }

    .span_fix {
      padding: 15px;
    }
  }
}
